:root {
  --light-dark-color: #292929;
  --yellow-color: #d4aa11;
  --dark-blue-color: #0c2731;
  --accent-orange: #d17351;
  --main-orange: #df967c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(#0d0f11 50%, #0c2731 50%);
}

.container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 90vw;
  height: 80vh;
  max-width: 38em;
  padding: 3em 1.8em;
  background-color: #201f28;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
  box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
}

.search-container {
  gap: 1.2em;
  flex-shrink: 0;
}

.search-container input,
.search-container button {
  font-size: 0.9em;
  border-radius: 0.3em;
  padding: 0.4em 0.7em;
}

.search-container input {
  background-color: transparent;
  border: 1px solid #a0a0a0;
  color: #ffffff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex-grow: 1;
}

.search-container button {
  background-color: var(--main-orange);
  border: none;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #a0a0a0;
  width: 108px;
}

.search-container button:hover {
  background-color: var(--accent-orange);
}

.search-container input:hover {
  /* background-color: rgba(12, 39, 49, 0.3) */
  background-color: rgba(255, 255, 255, 0.05);
}

.search-list-item:hover {
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: rgba(12, 39, 49, 0.5);
}

.search-container input,
.search-container button,
.genre div,
.search-list .search-list-item,
.search-list-item {
  transition: all 0.3s ease;
}

.search-container input {
  background-color: transparent;
  border: 1px solid #a0a0a0;
  color: #ffffff;
}

.search-container input:focus {
  border-color: #ffffff;
}

#results,
#watchlist-result {
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.info {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 8fr;
  align-items: center;
  margin-top: 1.2em;
}

.poster {
  width: 100%;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  margin: 0.6em 0 0.9em 0;
}

.rating img {
  width: 1.2em;
}

.rating h4 {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
}

.details {
  display: flex;
  font-size: 0.95em;
  gap: 1em;
  justify-content: center;
  color: #a0a0a0;
  margin: 0.6em 0;
  font-weight: 300;
}

.genre {
  display: flex;
  justify-content: space-around;
}

.genre div {
  border: 1px solid #a0a0a0;
  font-size: 0.75em;
  padding: 0.4em 1.6em;
  border-radius: 0.4em;
  font-weight: 300;
}

h3 {
  font-weight: 500;
  margin-top: 1.2em;
}

p {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.8em;
  text-align: justify;
}

.msg {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container {
    font-size: 14px;
  }
  .info {
    grid-template-columns: 1fr;
  }
  .poster {
    margin: auto;
    width: auto;
    max-height: 10.8em;
  }
}

/* js related class */
.hide-search-list {
  display: none;
}

#result-container {
  flex-grow: 1;
  overflow-y: hidden;
  position: relative;
}

h3,
a,
input,
button,
p {
  letter-spacing: 0.1em;
}

.title-watchlist h3,
.title-watchlist a {
  margin: 0;
  text-decoration: none;
  color: white;
}

.title-watchlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.title-watchlist a:hover {
  text-decoration: underline;
}

.input-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 1.5em;
}

.search-element {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  font-size: 1.4rem;
}

.search-element h3 {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
}

.search-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 5px 0px;
  border: solid 1px transparent;
  height: 100px;
}

.search-list-item:hover {
  border: solid 1px #a0a0a0;
  border-radius: 0.3em;
}

.search-item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.5em 1.5em 1.5em 0.5em;
  width: 100%;
}

.search-item-thumbnail img {
  width: 50px;
  margin-right: 1rem;
}

.search-item-info .info-grouping {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

.search-item-info .watchlist-group {
  display: flex;
  align-items: center;
}

.search-item-info .watchlist-group:hover #plus-icon,
.search-item-info .watchlist-group:hover #watchlist {
  opacity: 1;
}

.search-item-info .watchlist-group:hover #plus-icon {
  color: var(--accent-orange);
}

.search-item-info h3 {
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}
.search-item-info p {
  font-size: 0.8rem;
  opacity: 0.6;
}

#plus-icon,
#minus-icon {
  color: var(--main-orange);
  margin: 0.3em;
}

#tick-icon {
  color: green;
  margin: 0.3em;
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 9px;
  opacity: 0.3 !important;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(117, 116, 116, 0.1);
  border-radius: 10px;
  opacity: 0.3;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-orange);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-orange);
}

.results-error-styling {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

#watchlist-message {
  justify-content: center;
  font-size: 1.5em;
}